[2017-06-21 19:30] bampakoa opened #18 "Implement plugins mechanism"
We need to answer the following questions for implementing a mechanism that will register and load plugins in the main editor:

1. What kind of instance a plugin should be.
2. How to register a plugin.

There is a related question in SO https://stackoverflow.com/questions/44654508/angular-creating-plugins-for-3rd-party-packages-libraries.

Possible solutions could be:

- `forRoot`: used by convent

[2017-11-01 16:48] reecezimm opened #24 "Add to Module Documentation is Wrong"
Use the ngx-wig namespace

[2017-11-02 06:59] stevermeister commented on #24
good point, thx!
I think we need to rename all the places with an old naming.

[2017-11-02 06:59] #24 closed

[2017-11-02 07:00] stevermeister opened #25 "ng2wig -> ngx-wig"
rename all the places

https://github.com/stevermeister/ngx-wig/issues/24

[2017-11-07 20:51] reecezimm opened #26 "Broken in Angular 5.0"
Found this attempting to upgrade ng4.2 application to ng5.

Can recreate: Clean ng cli generated template, then upgrade to angular 5. Add ngx-wig as dependency, import into the module. Several build warning but breaking during application init.

`compiler.js:466 Uncaught Error: Unexpected value 'Ng2WigModule' imported by the module 'AppModule'. Please add a @NgModule annotation.
    at syntaxError

[2017-11-08 07:53] stevermeister commented on #26
thank you for feedback, we will check it

[2017-11-13 13:46] Caperious commented on #26
Had the same error, temporarily fixed it by deleting @angular/core folder under ngx-wig. I think its an error in core module version missmatch.

[2017-11-13 15:10] stevermeister commented on #26
updated the package, please check

[2017-11-13 18:14] reecezimm commented on #26
The issue is resolved for me, great thanks!

[2017-11-13 20:59] #26 closed

[2017-11-16 14:01] KashaevaD opened #28 "List and html options do not work in redactor"
When select something and trying to create, for example, ordered list - nothing happens
![out-2](https://user-images.githubusercontent.com/25029796/32895032-5e8fe70c-cae7-11e7-9935-879c1959227d.gif)

[2017-11-16 16:04] #28 closed

[2017-11-16 16:39] AdamAnandUS opened #29 "How to focus on the container ?"
Hello,

As soon as I load the "ngWig" component, the focus goes to the first button on the toolbar. Instead I want the focus to be on the container so that the user can start typing in right away.

How can I achieve this ? Please suggest.

I am using version. -- ngx-wig@0.3.3

Thanks
Adam

[2017-11-17 06:38] stevermeister commented on #28
@KashaevaD I think it would be nice to describe the reason of the issue in your specific case instead of just closing it

[2017-11-17 07:54] KashaevaD commented on #28
The problem was about that in current project we have  custom-normalize styles where we wiped the standard styles of lists
`ol, ul {
  list-style: none;
  padding-left: 0;
}`

[2017-11-17 15:31] stevermeister commented on #28
👍

[2017-12-13 21:05] stevermeister commented on #25
done https://github.com/stevermeister/ngx-wig/pull/33

[2017-12-13 21:05] #25 closed

[2017-12-16 17:09] stevermeister opened #34 "write some more tests"

[2018-01-24 14:05] ZuSe opened #38 "Metadata mismatch"
When I try to compile my project with AOT it throws:
/node_modules/ngx-wig/ngx-wig.d.ts, found version 4, expected 3

normal build runs fine.

Using ngx-wig 1.0-rc7 with SystemJS 0.19 and TS 2.3.4

[2018-01-26 17:55] stevermeister commented on #38
@ZuSe thank you for reporting we will try to figure out.

[2018-01-26 19:13] #34 closed

[2018-01-26 21:01] bampakoa commented on #18
@stevermeister any thoughts on that?

[2018-02-04 10:07] stevermeister commented on #18
@bampakoa let's make it stable get 100 starts and after return back to this topic
I want to be sure that core is stable enough for future extentions

[2018-02-12 10:59] stevermeister opened #40 "playground does not work"
I just cloned fresh version and playground does not work: it does not find/compile/place index.js file.

@bampakoa after quick investigation I did not find the place, maybe you have an idea?

[2018-02-12 15:30] CarlosTorrecillas opened #41 "Basic setup doesn't display icons"
Following the **EXAMPLES** here https://github.com/stevermeister/ngx-wig, no icons appear on the format options in the text editor

Also, the example "**Set buttons**": `<ngx-wig  [content]="text1" [buttons]="formats, bold, italic"></ngx-wig>` seem to throw an error `Parser Error: Unexpected token ',' at column 8 in [formats, bold, italic] i...`

[2018-02-12 18:01] stevermeister commented on #41
you can style them as you want. by default they are using material design icons.

this one is strange we will look into it

[2018-02-12 21:42] CarlosTorrecillas commented on #41
Thanks for that. I’ve been looking at PRs and the code to see how to pass the icons theme but couldn’t find anywhere where you define the icon theme. Would you mind giving an example of how to use for example Font awesome for them? I would really appreciate it

[2018-02-13 13:36] CarlosTorrecillas commented on #41
Found the issue. I think in the example it is missing the single quotes within the double quotes and that way it works. The `formats` option does not exist though. Available: `list1,list2,bold,italic,link` last but not least there is one extra icon right at the end which I don't know what it does. Could you explain that? Would it be possible to hide it via configuration?

Thanks,
Carlos.

[2018-02-13 14:23] stevermeister commented on #41
you are more than welcome to make PR with all suggested changes! :)

you mean "source"?  - to output HTML source

[2018-02-13 19:10] stevermeister commented on #41
here you are
https://stackblitz.com/edit/angular-kybmfp?file=styles.css

[2018-02-14 08:53] stevermeister commented on #41
@CarlosTorrecillas thank you for you feedback and research I've updated readme with examples and also fixed the bug with custom buttons

[2018-02-14 09:36] CarlosTorrecillas commented on #41
It's weird because I want to use the basic example with the [content] being a two-way binding field and it doesn't work. I only get it work if I have the contentChange and assign it on that method. Unfortunately I can't get it to work either with pre-existing content. So for example if I add new content using the editor and I load the screen with that content, it wouldn't show up in the screen.

[2018-02-15 22:33] bampakoa commented on #40
It seems that [this](https://github.com/stevermeister/ngx-wig/blob/master/playground/index.ts#L9) line causes the problem but I have not find why this is happening.

[2018-02-16 13:21] stevermeister commented on #40
I think it's something with systemjs

[2018-02-16 13:43] bampakoa commented on #40
If you use the UMD module, it will create the `index.js` file inside **.playground** folder. 😕

[2018-02-16 18:36] ilDon commented on #41
I was having the same issue for the icons. Icons were not showing after completing all installation steps, so I've added `@import "https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css";` to my `style.css` file.

I was confused by the fact that I was importing this: `@import "https://fonts.googleapis.com/icon?family=Material+Icons";`, since I'm using Angular Material 2.

So pe

[2018-02-16 19:10] stevermeister commented on #41
yes, we updated all the examples
here the one with two-way binding
- https://stackblitz.com/edit/ngx-wig-2-way-binding-choit3?file=app%2Fapp.component.html

you should use ngModel here.

It was an outdated example in docs.
Thank you one more time for your feedback!

[2018-02-17 09:44] ilDon opened #46 "White space(s) added on focus"
First thanks for the great editor, it was precisely what I was looking for :-)

I am using the editor in an Angular 5 app within a reactive form and I noticed that `onFocus` the editor adds a white space if the value passed to the editor is `=== undefined || '' || null || false || 0` (even if the value to be passed has to be a string, I've tried with other non-string values to test the behaviour).

[2018-02-20 10:20] stevermeister opened #47 "Loosing focus when pressing toolbar button (bold, italic)"
if you don't select the text first and just press the button(bold, italic) it loses the focus, not sure that it's expected behaviour.

[2018-02-21 11:01] bampakoa commented on #29
@AdamAnandUS AFAIK it is not supported out of the box. So, you can use `ViewChild` to get a reference of the actual HTML container element and then call `focus()`. See [this](https://stackblitz.com/edit/ngx-wig-focus) sample for more details.

[2018-02-21 11:02] bampakoa commented on #38
@ZuSe Have you tried to update to the latest version?

[2018-02-23 14:55] akolybelnikov opened #49 "doesn't work with a formControlName in a material2 reactive form"
neither value accessor cannot be established, nor can mat-form bind to the form control, if used as:

`<mat-form-field><ngx-wig [formControlName]="name"></ngx-wig></mat-form-field>`

possibly needs to be created as a cutom form field control:
https://material.angular.io/guide/creating-a-custom-form-field-control

[2018-02-26 09:35] stevermeister commented on #40
fixed

[2018-02-26 09:35] #40 closed

[2018-02-26 09:38] #47 closed

[2018-02-26 16:09] kover commented on #41
It's weird I have `material-design-icons` installed and configured and can use that icons in Angular Material directives, but the editor show squares instead of icons.

[2018-03-05 11:02] stevermeister commented on #46
could you please check now with updated version 1.2.2?

[2018-03-05 16:43] ilDon commented on #46
Yes, no added spaces in v. 1.2.2! :-)

[2018-03-05 17:05] #46 closed

[2018-03-07 09:08] stevermeister commented on #49
is it still the case for 1.2.2?
could I ask you to make a stackblitz for it?

[2018-03-07 09:13] stevermeister commented on #41
thank you all for your feedback, I've added some documentation

[2018-03-07 09:13] #41 closed

[2018-03-07 09:17] stevermeister commented on #29
@bampakoa what do you think about idea always keeping the focus on edit container?

[2018-03-07 09:18] stevermeister commented on #38
@ZuSe please try the latest version

[2018-03-07 09:18] #38 closed

[2018-03-14 10:48] ilDon opened #55 "Using "&nbsp;" for 1 white space"
I'm experiencing a strange problem. It seems that when pasting some content, the editor uses the special HTML string "&nbsp;" even when there is only one white space.

Unfortunately I'm not able to reproduce the bug as it requires pasting some text into the editor.

[2018-03-19 20:50] bampakoa commented on #29
@stevermeister I think this would have side effects. Imagine what is going to happen with more than one editor on a page (I have noticed that a lot of users, use the editor like this).

[2018-03-24 04:34] akolybelnikov commented on #49
I have tried to implement it as in the following stackblitz example:

https://stackblitz.com/angular/earajmpqaoxx

but I have not succeded yet. For the time being I am not putting ngx-wig in a mat-form-field but use it in the same form, and it works. Styling and validation can be done separately.

[2018-03-25 04:58] dangvhuy opened #58 "provide underline button in toolbar"
underline button is not supported now.

[2018-03-28 10:06] stevermeister commented on #55
could you please confirm that it's still an issue for you with newerst version of ngx-wig?

[2018-03-29 12:28] stevermeister commented on #29
true

[2018-03-29 12:28] #29 closed

[2018-04-03 07:24] snarum opened #59 "Is it possible to use Google Material Icons?"
Hi,

I would like to use these icons:

https://material.io/icons/

and I have this in my index.html:
[code]
In this pack the "bold" icon is called "format_bold". Is it possible to use this? I find it hard to understand from the Readme how to use other sets of icons.

[2018-04-08 15:55] stevermeister commented on #59
it's not possible right now, you are welcome to share your thoughts what's the best way to implement it

[2018-04-16 08:34] cbernth opened #64 "Awesome module, supports SSR, but..."
It works out of the box with SSR (Server Side Rendering using angular 5.2.9) which makes it unique among all other wysiwyg editors I've tested so far.

I'm currently investigating which editor module to use for a new project feature and I, by far, favor ngx-wig so far. However, I have a few concerns - sorry for wording them very directly - but I hope getting them answered will benefit all potentia

[2018-04-16 08:49] cbernth commented on #59
A solution I often use myself is icon maps.

In ngx-wig component:
[code]
In ngx-wig html:
[code]
In parent/consumer html:
[code]

[2018-04-16 19:11] stevermeister commented on #64
Thank you for kind words!

- yes
- yes
- maybe, we want to keep it as light as possible.

Currently, we are using ngx-wig for several applications of our product and try to fix all the bugs. But it's never enough time to do all the nice adjustments and fix tests, so if you want to contribute you are welcome!

[2018-04-18 09:02] IainAndrew opened #66 "Property '_onContentChange' is private and only accessible within class 'NgxWigComponent'."
Hi,

I'm getting this error when running `ng-build --prod`:

`ERROR in node_modules/ngx-wig/ngx-wig.d.ts.NgxWigComponent.html(1,1383): : Property '_onContentChange' is private and only accessible within class 'NgxWigComponent'.`

It looks like `_onContentChange` is a private member when it should be public?

Thanks,
Iain

[2018-04-19 08:12] cbanzet opened #67 "Size of the Field"
Is it possible to change the size of the ngx-wig area.

I tried to do it with css :

.nw-editor {
  height: 100px !important;
}

But it doesn't work as I'm doing it from another component.

[2018-04-19 08:34] bampakoa commented on #67
@cbanzet If your component is the host of the editor, you need to use the `::ng-deep` combinator.

[code]

[2018-04-19 09:38] cbanzet commented on #67
thanks a lot @bampakoa

[2018-04-23 05:44] stevermeister commented on #66
@IainAndrew thank you for the feedback! it's fixed now in version 1.2.7

[2018-04-23 05:44] #66 closed

[2018-04-23 11:12] #64 closed

[2018-04-23 11:12] #67 closed

[2018-04-24 19:05] dcuadra opened #68 "Colaborate"
Hi, I want to collaborate with your component, but I don't know exactly how.
I have done a few of changes:
One to get a new button for the font size
and the other one to translate to Spanish.
If you like my solution, or you want to improve I wold be proud of it.
I send the modifieds files.
Thanks

`import {
  Component,
  ElementRef,
  EventEmitter,
  Input,
  OnChanges,
  OnInit,
  Output,
  Simp

[2018-05-09 02:04] PhoebePan opened #69 "Does it support angular 4.3?"
Does it support angular 4.3?

I can't built aot in my project.
I love this No jQuery editor.

[code]

[code]

Thank U :D

[2018-05-11 11:37] stevermeister commented on #69
If you cannot update to never Angular version than just use older ngx-wig version

[2018-05-12 17:28] bampakoa commented on #18
@stevermeister [this](https://github.com/maximusk/extension-mechanism-demo) seems like a good resource for that. It was presented in ng-conf earlier https://www.youtube.com/watch?v=pERhnBBae2k

[2018-05-13 09:59] stevermeister commented on #58
@PhoebePan this issue is about "underline button"

[2018-05-13 09:59] #58 closed

[2018-05-14 03:07] hungcao181 opened #71 "Is it reasonable to make ngx-wig compatiple to use inside a mat-form-field"
I am trying to use ngx-wig inside my material angular app. This seem to work as an independent input that I wrapped inside a div.
To get a consistent experience with other fields on a material form, it might be better to be able to wrap ng-wig inside a mat-form-field directive.

Google have instruction to do so https://material.angular.io/guide/creating-a-custom-form-field-control.

Anyone have th

[2018-05-14 03:29] PhoebePan commented on #69
Cool, thank you

[2018-05-14 03:29] #69 closed

[2018-05-14 05:49] stevermeister commented on #71
We are working on it...

[2018-05-14 17:57] alexshakura commented on #71
hey @hungcao181, right now I'm working on it, there will be distinct library with ngx-wig as a dependency with already-made styles

[2018-05-22 11:30] stevermeister commented on #18
I watched it twice, the concept is too abstract.

As far as I understand the idea is about reimplementation of lazy loading module mechanism?

I know speaker in person, will ask his opinion

[2018-05-25 15:24] bampakoa commented on #18
Yes, it tries to mimic the operation of the Angular router. That guy has a very good knowledge of Angular in depth and I thought that it should be a good idea if he proposes such a solution.

[2018-06-02 07:45] alexshakura commented on #71
@hungcao181 @stevermeister check it out https://www.npmjs.com/package/mat-ngx-wig

[2018-06-02 18:45] alexshakura commented on #49
@akolybelnikov there is a distinct npm package for material - https://www.npmjs.com/package/mat-ngx-wig

[2018-06-04 09:49] #49 closed

[2018-06-04 09:49] #71 closed

[2018-07-02 09:04] phil123456 commented on #41
why are these icons not part of the dist ?
what if that cdn goes away, then no more icons ???
wtf ?

[2018-07-02 12:59] stevermeister commented on #41
you can use any icons, and you are also welcome to make PR

[2018-07-18 13:26] asadmalik3 opened #72 "Support for RTL layout"
Hey,

Is there a way to make this plugin RTL?

[2018-07-20 11:48] stevermeister commented on #72
I did not have experience of implementing RTL, but I guess it could be done by changing CSS

[2018-10-15 11:47] DMarinsa opened #73 "Adding custom buttons"
Is it possible to add custom buttons to the editor bar?

[2018-10-15 12:36] bampakoa commented on #73
This is not currently possible. Have a look at #18

[2018-12-19 07:48] bampakoa commented on #18
@stevermeister I recently came across [this](https://youtu.be/q2Exs-82tkw?t=1557) video from Angular Connect 2018 that demonstrates an alternate way of introducing plugins in an Angular app.

[2018-12-26 10:58] mayur9293 opened #74 "How to set focus/cursor at the end of the content or at the last position where cursor was?"
Hi,
I am trying to add tags to the editor in 2 ways.
1. How to get the cursor position and add some text to that position. Eg. If i am trying to change the ngModel from typescript the cursor position is set automatically to 0th character or start. ~~If the user has written a paragraph and now he tries to annotate it with the hashtags given below the editor.~~ Is there a way to insert it in between

[2018-12-28 06:28] mayur9293 opened #75 "Is there a way to get the plain text from the editor?"
Is there a way to just get plain text from the editor removing all the HTML tags??

[2018-12-28 08:08] AdamMadrzejewski commented on #75
Since you have access to the variable containing HTML string, you can do all operations that can be made on strings, including striping html tags from it. It's just JavaScript operation on string and there are a lot of solutions on internet. Have a look here:

[https://stackoverflow.com/questions/822452/strip-html-from-text-javascript](https://stackoverflow.com/questions/822452/strip-html-from-tex

[2018-12-28 10:12] mayur9293 commented on #75
Oh wow... It worked. Thanks for the help.

[2018-12-28 10:12] #75 closed

[2018-12-28 10:47] mayur9293 commented on #74
I tried using `@HostListener` over the ngx-wig to get the `selectionStart` or the cursor's position. Which works absolutely fine on TextArea. But it returns `undefined` for ngx-wig.

The sample code looks something like this

[code]

Where I am using this directive something like this
`<ngx-wig [(ngModel)]="value" TagGenerator [buttons]="'bold,italic'" >loading</ngx-wig>`

Am I doing something wro

[2018-12-28 18:58] bampakoa commented on #74
@mayur9293 try to set the caret at the end with the following snippet:

[code]

[2018-12-31 15:10] stevermeister commented on #18
@bampakoa

it's about Dynamic components, to use router dynamic module loader to do lazy loading for component (that is wrapped into module)

it's nice, BUT
in previous version of editor with AngularJS we were able to change properties of core module like changing set of buttons. and here is not that easy to inject a *virtual* service.

anyway I'll have a second look, thx for sharing the idea!

[2019-01-02 16:09] stevermeister commented on #18
@bampakoa

Now I'm working in branch https://github.com/stevermeister/ngx-wig/tree/brand-new and before going to plugins decided to update the whole env (based on new ng-cli library generator)

You are welcome to join.
Also I decided to rebuild the idea of icon dependancy - so to build version without dependancy on mdi at all

[2019-01-02 16:32] stevermeister opened #76 "[WIP] Brand new version"
- [x] update angular-cli env
- [x] remove icons dependancy
- [x] make tests great again
- [x] implement plugins (https://github.com/stevermeister/ngx-wig/issues/18)

[2019-01-03 10:17] stevermeister commented on #76
https://github.com/stevermeister/ngx-wig/tree/brand-new

[2019-01-04 05:48] mayur9293 commented on #74
This worked like magic.
Is there a way to set the caret in between or towards the previous position??

[2019-01-08 18:55] bampakoa commented on #76
@stevermeister I am bit confused. I can see the task **remove icons dependency** on the checklist but on the other hand you have added **FontAwesome** in the branch :confused:

[2019-01-09 14:36] stevermeister commented on #76
true, that's why checkbox still not checked :)

I did not find the way to make it nice and simple quickly. FontAwesome package was fastest solution. It's definitely better than just including in index.html. But it does not mean that it stay in final realise. For now it's temporary solution that allows us to move forward. If you have elegant and simple way to output buttons - please share.

Changed

[2019-01-11 13:58] stevermeister commented on #76
@bampakoa

removing dependency - https://github.com/stevermeister/ngx-wig/pull/78

[2019-01-18 16:08] stevermeister commented on #18
@bampakoa I'm still thinking what would be the best way to implement plugins.

From user side now considering this options:

1. ```ngxWig.forRoot( { buttonsConfig })```
2. Just use service for toolbar (in component controller):
```NgxToolbarSerice.addCustomButton('image', ImageButton)```
3. Use flag multi to extend provider:
```{ provide: customButtons, useValue: ImageButtonComponent, multi: true

[2019-01-20 09:52] bampakoa commented on #18
@stevermeister yes, this looks the most robust solution to me so far!

[2019-01-21 08:46] stevermeister commented on #18
I mean took the best our of 3 :)

[2019-01-22 12:06] bampakoa commented on #76
@stevermeister what do you think about providing a schematic also for the new version?

[2019-01-22 13:01] stevermeister commented on #76
hm, quite interesting option!

I was also thinking about schematics, but did not find a use (just to import to main module was not really an option)

[2019-01-22 14:06] bampakoa commented on #76
😃 Cool! We could even pass default buttons though the schematic 😉

[2019-01-23 08:34] bampakoa commented on #76
What do you think about `ng add @ngx-wig/ngx-wig --buttons=bold,italic` ? Or we could use their titles `buttons=B,UL`

[2019-01-23 09:08] mayur9293 opened #82 "How to integrate at.js(atwho) library with ngx-wig."
Referring to [at.js](http://ichord.github.io/At.js/) how to integrate it with ngx-wig

are there any initialization events where we can probably add this? [see this](https://github.com/froala/angular-froala-wysiwyg/issues/12)

[2019-01-23 09:17] stevermeister commented on #82
could you provided a sandbox what you have already tried?

[2019-01-23 09:18] stevermeister commented on #76
hm, not very convenient.
I'm thinking about prompt with multi-select, but angular-cli is not supporting it yet

[2019-01-24 12:17] mayur9293 commented on #82
After lots of hit trials and run I finally managed to integrate at.js (Probably not the most appropriate way) for enabling ngx-wig to have auto-suggest feature the prototype can be found [here](https://stackblitz.com/edit/angular-dqmhkt)

Well some new questions surrounding this integration.
1. If the User types **_#_** (auto suggest List appears) user clicks it. It appears on the dom but the data

[2019-01-25 12:21] stevermeister commented on #82
i would suggest to look into angular way of doing things
like https://github.com/YazanAabeed/at-who-angular
not jQuery one

[2019-01-28 13:09] rafaeltovar opened #86 "Accent issue with Angular 7"
I know that this editor is not Angular 7 compatible, but it works "almost" fine.

The accent doesn't work. If you want write "ú", you will get "´u".  The same issue with "û" or "ü".

[2019-01-28 13:15] rafaeltovar commented on #86
Sorry. My fault.

[2019-01-28 13:15] #86 closed

[2019-01-31 17:09] smitchell opened #87 "Toggle to view HTML"
Are there plans to allow a button to toggle to HTML like Froala does? We are using ngx-wig now, and the user asked me to enable the "<>" button to see what is going wrong with the markup.  For now, I could flip them into a text area.

[2019-01-31 21:53] bampakoa commented on #87
@smitchell you can set `isSourceModeAllowed` property of the `ngx-wig` to `true` and a new button with a pencil icon will appear at the end of the toolbar.

[2019-02-25 05:41] mayur9293 opened #88 "Readonly editor"
Is there a way to make editor Read only?

[2019-03-10 21:11] bampakoa commented on #18
@stevermeister let me shed some light here :smiley: I had a chat with one of Angular core team members and explained our situation. Theoretically, they proposed to go with the first method, which is the defacto for such cases, and avoid the other two. They also advised to test it under AoT and possibly lazy-load mode.

[2019-03-11 07:59] stevermeister commented on #18
@bampakoa great! I hope I'll have time to finish first version of it

[2019-03-11 12:32] stevermeister commented on #18
@bampakoa now I'm thinking about format for config

`ngxWig.forRoot( { buttonsConfig })`

[2019-03-11 17:26] stevermeister commented on #18
@bampakoa
ok, I've implemented first version with an option to add config, please have a look

[2019-04-23 12:20] storytellerr opened #93 "Type 'ModuleWithProviders' is not generic."
i am getting this error in angular 6

ERROR in node_modules/ngx-wig/lib/ngx-wig.module.d.ts(7,9): error TS2315: Type 'ModuleWithProviders' is not generic.
node_modules/ngx-wig/lib/ngx-wig.module.d.ts(8,24): error TS2315: Type 'ModuleWithProviders' is not generic.

[2019-04-25 08:41] storytellerr opened #94 "No icon is showing for buttons"
i am using angular 6 and icons are not showing on buttons. this issue is coming in all old version including 1.6.0 and 1.0.3.
![Screenshot from 2019-04-25 13-57-15](https://user-images.githubusercontent.com/15611406/56721939-9b833000-6763-11e9-9c28-1f7ee03455f6.png)

[2019-04-29 12:27] stevermeister commented on #94
could you make stackblitz sandbox for it?

based on this one - https://stackblitz.com/edit/ngx-wig-sample1?file=src/app/app.component.ts

[2019-04-29 12:27] stevermeister commented on #93
could you make stackblitz sandbox for it?

based on this one - https://stackblitz.com/edit/ngx-wig-sample1?file=src/app/app.component.ts

[2019-05-01 07:12] storytellerr commented on #94
@stevermeister icons are visiable in  toolbar when version is 2.0.1. but in my project i am using angular 6(can't update to angular 7) and version 1.6.0 has a bug of not showing icons in toolbar.

here is stackblitz - https://stackblitz.com/edit/angular-8v7qnw

[2019-05-01 08:41] stevermeister commented on #94
I got the point, so it's nothing to do with Angular6.
For version 1.6 and lower icons were not prebuild in library and you had to include them into your project yourself

[2019-05-01 08:44] storytellerr commented on #94
is there any standard(name, size, etc) ? how to include them any doc or info ?

[2019-05-01 08:59] stevermeister commented on #94
you can just use CDN - https://stackblitz.com/edit/angular-1njhzk?file=src%2Findex.html

[2019-05-01 09:14] storytellerr commented on #94
works like a charm :sparkles:. thanks

[2019-05-01 09:15] #94 closed

[2019-05-14 09:38] #55 closed

[2019-05-14 09:41] #72 closed

[2019-05-14 09:41] #82 closed

[2019-05-14 09:41] #87 closed

[2019-05-14 09:42] stevermeister commented on #88
why do you need to make WYSIWYG editor readonly?
you can just output HTML without an editor

[2019-05-14 09:42] #88 closed

[2019-05-14 09:43] #68 closed

[2019-05-14 09:44] #93 closed

[2019-05-14 09:45] #74 closed

[2019-05-21 14:59] stevermeister commented on #73
@DMarinsa yes now it's possible, by providing specific config:
[code]

check an example here - https://github.com/stevermeister/ngx-wig/pull/95/files#diff-c12d74ca8cc105ab72f388747ca666c8R63

[2019-05-21 15:00] #76 closed

[2019-05-21 15:03] stevermeister commented on #18
for now I'll close this one till the moment we collect enough info to think about what kind of plugins we need

[2019-05-21 15:03] #18 closed

[2019-05-31 19:29] tettsuan opened #96 "Plan for Angular 8 Support?"
I would like to upgrade my angular-7 project to angular-8.
Do you have a plan for upgrading it to support angular-8? If not, how can I help with it?
I have cloned the master-branch and locally upgraded to angular8. Unittests were through with small modification.
Shall I create a new branch and push it and create merge request?
Also I would like to know how I can test it with my local app(s).

[2019-06-04 06:38] stevermeister commented on #96
sure, I would.
not always have time for it.

it would be fantastic!

you can build npm package locally(https://github.com/stevermeister/ngx-wig/blob/master/package.json#L11) and import it to your project (instead of npm one)

[2019-06-04 08:33] tettsuan commented on #96
.. and I was not allowed to push..

[2019-06-05 05:59] stevermeister commented on #96
here you can find information how to do pull requests - https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

it's not good. ideally to keep backwards compatibility with previous version

[2019-06-11 19:06] tettsuan commented on #96
it was a stupid mistake... my project was original with angular6 and upgraded to angular7. That time it wasn't a problem and therefore ngx-wig package remained with an old version (1.6!!).
I've upgraded it to 2.1.1 and has no problem at all.. sorry that i've bothered you.

[2019-06-11 19:06] #96 closed

[2019-07-02 07:35] darshanDevrai opened #97 "Is plugins mechanism ready yet?"
First of all thank you so much for the awesome ngx-wig.
I want to add plugins for image, header, alignment and code in my editor.
Here in [this](https://github.com/stevermeister/ngx-wig/issues/76 ) issue, the checkbox of **Implement Plugins Mechanism** is **checked**  .
So is it ready yet? If yes then how to use it?

Thank you :)

[2019-07-02 10:03] stevermeister commented on #97
yes, it's ready in terms of buttons, now you can create any button you like
you can check it here - https://github.com/stevermeister/ngx-wig/issues/73

[2019-07-02 10:04] #73 closed

[2019-07-02 10:04] #97 closed

[2019-07-12 09:31] IainAndrew opened #99 "Turn on source mode by default"
Is there a way to turn on source mode by default?

[2019-07-12 11:07] stevermeister commented on #99
why would you need it in WYSIWYG?

[2019-09-18 14:17] TheMalloum opened #100 "link with target="_blank""
Hi,

I would like to have all link create in the component with the mode target="_blank".

Is it possible ?

[2019-09-18 17:50] bampakoa commented on #100
@TheMalloum this sounds like a good case for a custom button (plugin). Take a look [here](https://github.com/stevermeister/ngx-wig#adding-own-buttons) for more details. I hope that helps.

[2019-09-23 17:06] plovinicius opened #101 "Show if button is currently enable"
When using an example feature: **bold**, the **bold** button would ideally have some class to be able to style indicating to the user that that feature / button is currently active.

[2019-10-25 06:16] mkdudeja opened #102 "Reactive form patch value makes the form dirty"
Hi,

Ngx-wig implementation with reactive form controls.

Patching a value using `patchValue` makes the form dirty, which shouldn't be the case.

Following is the stackblitz implementation:
https://stackblitz.com/edit/ngx-wig-sample7-u7huhp?file=src%2Fapp.ts

Thanks,
Manish

[2019-10-29 14:32] stevermeister commented on #102
Hi @mkdudeja,
thank you for detailed feedback with an example!

I've made PR with a fix
https://github.com/stevermeister/ngx-wig/pull/109/files

[2019-10-29 16:19] stevermeister commented on #102
please use version ngx-wig@2.1.3

[2020-01-22 12:52] codemx opened #111 "Is it possible to change the editor background color"
I just need to use a dark background for editor with dark themes. How I can achieve this ? kindly give a solution

Many thanks

[2020-01-22 14:17] stevermeister commented on #111
I think you can just edit some CSS properties - https://stackblitz.com/edit/ngx-wig-sample4-aegxvd?file=src%2Findex.html

[2020-01-22 14:17] #111 closed

[2020-02-05 11:35] andreElrico commented on #87
Not sure whether APIs have changed, `isSourceModeAllowed` does not exist;

Here is one way of achieving what you want.

https://stackblitz.com/edit/ngx-wig-sample-plugins-supbgz?file=src%2Fapp.ts

+ overLoading "edithtml" for BUTTONS injection token
+ some css wizardry

[2020-03-04 07:27] DanielChuDC opened #112 "feature request: Emoji custom button"
Hi @stevermeister, thank you for writing this awesome library in angular.

Do you have any idea to add in a emoji function? (maybe a emoji button... or)

One possible repo is [ngx-quill](https://github.com/KillerCodeMonkey/ngx-quill) and it is using [quill emoji](https://github.com/contentco/quill-emoji)

[2020-03-04 08:01] DanielChuDC opened #113 "Roadmap: Update to Angular 9"
Hi, Do you have a plan for upgrading it to support angular 9?

If not, how can I help with it?

[2020-03-04 08:06] bampakoa commented on #112
@DanielChuDC do you mean how one should implement such a functionality in the library?

[2020-03-04 08:11] bampakoa commented on #113
@DanielChuDC you could fork the repo and try to upgrade it using the `ng update` command of the Angular CLI. After upgrade, make sure that you check all tests that pass. If you need any further assistance I would be happy to help 😃

[2020-03-04 08:14] DanielChuDC commented on #113
ok! thank you

[2020-03-04 08:15] DanielChuDC commented on #112
Yup! I am not sure how to add emoji function...

My ultimate goal is to able to post message to telegram with emoji 👍

[2020-03-04 08:18] bampakoa commented on #112
Check out [this](https://github.com/stevermeister/ngx-wig#adding-own-buttons) guide on how to add your custom button.

[2020-03-04 08:39] DanielChuDC commented on #112
Thank you @bampakoa. I read that guide but I am not sure how to implement that function.

[2020-03-04 08:39] DanielChuDC commented on #112
not adding button. Is how to include emoji at the button.

[2020-03-05 09:13] DanielChuDC commented on #112
Found a emoji github: https://github.com/TypeCtrl/ngx-emoji-mart/ , which compatible with angular 9. Hope it helps someone's life

[2020-03-05 09:13] #112 closed

[2020-03-06 15:34] stevermeister commented on #113
@DanielChuDC do you have any difficulties with Angular9?

[2020-04-10 18:49] MPapst commented on #113
Hi,
I tried an update of the library to Angular 9 and provided an pr.

I needed to change the provider function of `NgxWigModule` that provides the button Library to an inline function, because of a weird compiler issue that is related to angular 9:
[code]

Tests are running fine, linting is having 2 issues (has been 4), I think the type can simply be changed to an interface, but I'm not 100% sure

[2020-04-14 09:33] stevermeister commented on #113
Version 9.0.0 published

[2020-04-14 21:19] bampakoa opened #115 "Check with ngcc compiler"
@stevermeister is there any chance that you have checked the library with the ngcc compiler https://github.com/angular/ngcc-validation?

[2020-04-15 16:44] bampakoa opened #117 "Automate tests using CI"
@stevermeister I have noticed that the repo has integration with Travis CI. How about pipe tests in each PR through Travis?

[2020-04-16 08:19] stevermeister commented on #117
that's a good idea, I thought it's already there :)
I'm also thinking maybe migrate it to GitHub actions, what do you think?

[2020-04-16 11:06] bampakoa commented on #117
@stevermeister you are right! It is already there and I missed it 🙄

I have never used GitHub actions before. What additional value would it give to the already workflow of Travis?

[2020-04-16 17:08] stevermeister commented on #115
oh, wow, not yet

[2020-04-17 20:01] MPapst commented on #113
@stevermeister do you plan to update the npm package?

[2020-04-18 11:49] stevermeister commented on #113
yes, it's done now.
sorry, forgot to do it right after the merge.

[2020-04-18 12:43] stevermeister commented on #115
added - https://github.com/angular/ngcc-validation/pull/1164

[2020-04-18 13:40] #113 closed

[2020-04-18 13:40] #59 closed

[2020-04-18 13:40] stevermeister commented on #115
looks like we have some problems :(

[2020-04-18 13:41] #99 closed

[2020-04-18 13:41] #100 closed

[2020-04-18 13:41] #102 closed

[2020-04-18 13:45] stevermeister commented on #117
some ideas about GH Actions:
- I'm using Travis CI only for this project, it's quite hard to maintain
- GH Actions sounds like more native solutions and less external tools
- Functionality is pretty much the same

[2020-04-22 17:08] stevermeister commented on #113
https://www.npmjs.com/package/ngx-wig/v/9.0.0

[2020-04-25 19:54] bampakoa commented on #115
@stevermeister I can see the progress of the PR and it looks good! We are close! If you any help just ping me 😄

[2020-04-25 19:56] bampakoa commented on #117
I like the idea of having all tooling inside the Github ecosystem. Sounds good for me!

[2020-04-25 21:17] bampakoa opened #118 "Add tests using component harness"
@stevermeister have you checked out component harnesses from Angular CDK https://material.angular.io/cdk/test-harnesses/overview? It seems quite promising and looks like a good fit for writing tests in an Angular 3rd party library.

[2020-04-27 12:25] stevermeister commented on #115
I hope I can manage it :)
fighting with `yarn.lock` conflicts

[2020-04-30 15:10] stevermeister commented on #115
done :)

[2020-04-30 15:10] #115 closed

[2020-06-07 09:30] veteran1 opened #121 "header button"
Hello,
is the header list (h1...h6) already implemented in ngx-wig?
How can i add heading to the text.
Thanks

[2020-06-08 20:05] bampakoa commented on #121
@veteran1 this feature is not currently baked in the library. However, you could create a plugin for this. Check out [this](https://github.com/stevermeister/ngx-wig#adding-own-buttons) guide how to do it 😃

[2020-06-09 08:21] veteran1 commented on #121
ok, i will take look,
thanks for your feedback

[2020-06-09 08:21] #121 closed

[2020-07-01 14:28] ghost opened #122 "Error after migration to Angular 9"
Do you know how to fix this issue?

ERROR in node_modules/ngx-wig/lib/ngx-wig.component.d.ts:40:18 - error TS2314: Generic type 'ɵɵFactoryDef' requires 1 type argument(s).

40     static ɵfac: i0.ɵɵFactoryDef<NgxWigComponent, never>;
[code]

[2020-07-01 18:41] bampakoa commented on #122
@minchomilev could you please share more details? When do you get this error? How do you use the library? Setting up a Stackblitz demo or some other means would be more than helpful.

[2020-07-01 19:51] minchopm commented on #122
I am getting this issue during compile time when I am building the app with Angular Ivy compiler.
Tested with version 9.1.0 and 9.0.0 - same result
few weeks ago I was using v ^8.0.0 with angular 9 and it was working fine.
when I serve the app there is no such kind of issue.
the case is this one:
properly injected the: NgxWigModule into imports[] of @NgModule

<ngx-wig  [formControl]="text"></ngx-

[2020-07-03 21:04] bampakoa commented on #122
@minchopm I could not replicate your issue locally. Could you please try to remove `node_modules` folder and `npm install` again? Also, make sure that you use Typescript 3.8.x

[2020-07-03 22:16] minchomilev commented on #122
With Angular 9.1 the issue is not existing. Probably there is a bug in Angular 9.0. Thanks.

[2020-07-13 17:55] arcadius commented on #121
@veteran1 , any update on this?

[2020-07-13 21:01] veteran1 commented on #121
@arcadius, no I did not create the plugin since it was not a mandatory requirement for me.

[2020-07-22 12:25] vinusorout opened #125 "Can we use table and image button?"
We want to include two buttons
1. Table: by clicking the table button user should be able to choose rows and columns of table, and finally this should insert a table.
2. Image: User should be able to upload image, and application should upload the image in base64 format.

Please let us know if it is possible if yes how we can achieve this?

[2020-07-22 17:38] stevermeister commented on #125
@vinusorout that's not what you have out of the box, but you always can create your own plugin and do content manipulation

[2020-07-22 17:38] #125 closed

[2020-07-25 13:05] veteran1 opened #126 "Can't compile with angular i18n"
Hello,
I tried to implement the native i18n module in my application, but when I run `ng xi18n` in the terminal, I get this error:

ERROR in Unexpected value 'NgxWigModule in C:/workspace/testApp/node_modules/ngx-wig/lib/ngx-wig.module.d.ts' imported by the module 'AappModule' in C:/workspace/testApp/src/app/app.mdule.ts'. Please add a @NgModule annotation.

Any tips?
thanks

[2020-07-28 15:45] stevermeister commented on #126
Hi @veteran1

could you provide you repository reproduce the error and check the cause ?

[2020-07-31 22:32] veteran1 commented on #126
Hi @stevermeister
here is a repository https://github.com/veteran1/test-i18n,
just generate an angular application and add i18n attribute to an html tag then run the command [ng xi18n]

[2020-08-03 13:28] stevermeister commented on #126
hm, strange, I've updated ngx-wig to version 10 (compatible with Angular10), but still see an issue in editor (probably related to @veteran1 issue):

<img width="1085" alt="Screenshot 2020-08-03 at 16 25 58" src="https://user-images.githubusercontent.com/1526680/89187609-31804a00-d5a6-11ea-9d25-41b7a5731108.png">

@bampakoa do you know something about it? it looks like an issue that I had somewher

[2020-08-03 17:29] bampakoa commented on #126
@stevermeister I face also the same issue in this repository that I prepare for my talk https://github.com/bampakoa/ngx-wig-electron :smiley:

I will check it out later today and let you know on the outcome :wink:

[2020-08-03 19:33] bampakoa commented on #126
@stevermeister we need to build the library with the `--prod` flag before publishing to npm so that it uses the View Engine (old) compiler.
Currently Angular libraries are not fully compatible with the Ivy compiler https://angular.io/guide/creating-libraries#publishing-your-library

[2020-08-04 06:28] stevermeister commented on #126
@bampakoa my bad, I've created a shortcut in package.json and never updated it.

published **ngx-wig@10.0.1**

[2020-08-04 06:32] stevermeister commented on #126
@veteran1 please update to ngx-wig@10.0.1, now it should work

[2020-08-04 06:32] #126 closed

[2020-08-14 13:51] #122 closed

[2020-11-09 13:39] sheevam76 opened #131 "Creating custom buttons for version 0.3.6"
Hello Team,
I am using ngx-wig 0.3.6 component in my angular 4 project.
My query is how can I create a custom buttons for my text editor like underline, font size, font family, insert table , insert image etc.
I am not finding any way to create them.
Also, I can't upgrade the version as the above versions are not supported with my project.
Can you please help me?

[2020-11-10 08:36] stevermeister commented on #131
@sheevam76 I suggest you upgrade your Angular version, 4 is already too old
it's not that difficult you can follow the instructions here - https://update.angular.io/?v=4.0-10.0

[2020-11-29 14:56] #117 closed

[2020-11-29 21:18] stevermeister opened #133 "[idea] CI to publish on npm"
after merge to master

[2020-12-11 19:18] stevermeister opened #134 "bubble editor"
it would be nice to have such a feature for ngx-wig

[2021-01-21 21:20] rd0rnot opened #136 "Erroneous behavior trying to delete text from the editor"
I'm working on an application where the user can copy and paste from MS-word into our ngx-wig edit field.  We found an issue where hidden field text is not being deleted even if the user presses CTRL-A followed by delete.  This results in our form validation failing to show our required field indicator even though there appears to be no text to the user.

When pasting from Word, it converts the te

[2021-01-25 06:49] Vectorlolo opened #137 "Custom Buttons for version 11.0.0."
Hi, i have a question :
How can I create these buttons?
'justifyLeft', 'justifyCenter', 'justifyRight','justifyFull','textColor'

 I use angular 10 and ngx-wig version 11.0.0.

[2021-01-25 06:52] #137 closed

[2021-02-04 12:27] stevermeister commented on #136
@rd0rnot thank you for the detailed report.
I think it's not about ngx-wig or Angular, but about WYSIWYG itself.
Could you please create a sandbox? I'll look and try to find a lightweight solution for it.

[2021-02-08 16:17] rd0rnot commented on #136
Thanks @stevermeister for the reply.

I've had issues getting a sandbox with the exact versions of angular and ngx-wig to work.  More on that in a moment.

I do have a sandbox based off of one of your demos using an older version of angular and ngx-wig that seems to mostly replicate the issue:

Editor:  https://stackblitz.com/edit/ngx-wig-sample-plugins-p4svlr?file=src/app.ts
App:  https://ngx-wig

[2021-02-17 15:08] stevermeister commented on #136
@rd0rnot thank you for providing the example!
I understood the problem.
Basically it `ctrl-A` does not select everything.
And if you do `ctrl-A` -> delete -> backspace (to cleanup the rest) - you will have empty HTML

I checked several WYSIWYG editors which provide source code option:
https://www.tiny.cloud/
https://summernote.org/
they have the same behavior.

I also found one that does not have

[2021-02-19 21:04] rd0rnot commented on #136
@stevermeister thanks for the detailed investigation.  It's interesting that this issue is shared amongst several other rich text editors.

To answer your question, this is not a critical issue for us.  We observe it mainly as an anomaly with the required field status we assign to our ngx-wig control, and only when the user does a ctrl-a + delete sequence.

If there is a lightweight solution you c

[2021-03-30 10:28] wafae1234 commented on #73
@stevermeister please how can i set Edit HTML button to enable editMode initially, i did this :
const CUSTOM_LIBRARY_BUTTONS = {
  edithtml: {
    label: '</>',
    title: 'Edit HTML',
    command: (ctx: NgxWigComponent) => {
      ctx.editMode = true;
    },
    styleClass: 'nw-button--source',
    icon: '',
  }
};

but editor initialyze ctx.editMode with false

[2021-03-30 10:49] stevermeister commented on #73
@wafae1234 I think for you case `editMode` should be provided like an optional @Input()
instead of just putting `false`

do you want to do a PR for it?

[2021-03-30 11:40] wafae1234 commented on #73
what do you mean by PR ?
Where can i put @input(), excuse my ignarance i m new to angular
here is my component view:
`<ngx-wig [formControl]="editorControl" [placeholder]="placeholder + (required ? ' *' : '')"></ngx-wig>`

 and the CUSTOM_LIBRARY_BUTTONS value is provided in the module ;

`import { A11yModule } from '@angular/cdk/a11y';
import { CommonModule } from '@angular/common';

import { NgM

[2021-03-30 11:43] wafae1234 commented on #73
what do you mean by PR ?

Where can i put @input(), excuse my ignorance i m new to angular
here is my component view:
`<ngx-wig [formControl]="editorControl" [placeholder]="placeholder + (required ? ' *' : '')"></ngx-wig>`

 and the CUSTOM_LIBRARY_BUTTONS value is provided in the module ;

[code]

[2021-03-30 12:58] stevermeister commented on #73
I meant a Pull Request to change the library itself.

I don't think that there is a possibility to do so in the current setup.

@bampakoa what do you think?

[2021-04-05 21:10] bampakoa commented on #73
@stevermeister @wafae1234 the only way to access the `editMode` property and change it, is using the `ViewChild` decorator such as in the following snippet:

[code]

[2021-04-13 10:14] wafae1234 commented on #73
@stevermeister @bampakoa thank you for the help, i will try this one.
please another question, we have a project that uses angular 6 and i want to use ngx-wig 1.6.0 as a text editor, i did copy past the config Above but the editor tells that '"ngx-wig"' has no exported member named 'BUTTONS'

[2021-04-13 10:15] wafae1234 commented on #73
@stevermeister @bampakoa thank you for the help, i will try this one.
please another question, we have a project that uses angular 6 and i want to use ngx-wig 1.6.0 as a text editor, i have copied pasted the config above but the editor tells that '"ngx-wig"' has no exported member named 'BUTTONS'
how can i set buttons in  ngx-wig 1.6.0 ?

[2021-05-03 09:59] GerkinDev opened #142 "Event on blur"
Hi,

I'm trying to capture the `onBlur` event from this component. I could do this with `touched` using reactive forms, but I don't want to use it in my case. Would it be possible to emit a value for an output from [here](https://github.com/stevermeister/ngx-wig/blob/master/projects/ngx-wig/src/lib/ngx-wig.component.ts#L228-L231) ?

Thank you, and cheers ! :beers:

[2021-05-04 19:22] bampakoa commented on #142
@GerkinDev the internal `onBlur` method is already wired up with the `touched` property which can be used in both template and reactive forms. So, what is the reason for not using one of them? Could you please elaborate a bit?

We could of course add another `@Output` property and emit that in the mentioned method but we need to make sure that there is a valid case for doing that 😃 Thank you for u

[2021-05-14 08:48] ErnestoLopez opened #146 "Use with validators"
Hi,

I've wrote a formGroup with alidation rules

this.formGroup = this.FormBuilder.group({
            description:  [this.supplier.description
                        , Validators.compose([
                                            Validators.required,
                                            Validators.minLength(3),
                                            Validators.maxLength(1000),

[2021-05-14 09:00] #146 closed

[2021-05-14 09:02] ErnestoLopez commented on #146
Sorry, there was an error ouside this scope. It is fixed now and seems to works fine.

[2021-05-14 11:24] ErnestoLopez opened #147 "hide toolbar and change styles"
Hi,

If I configure

[buttons]="''"

the toolbar is minimized but still remains border.

I try to change styles through

.nw-toolbar

selector but it does nothing

What I doing bad ?

Regards

Ernesto

[2021-05-14 11:30] ErnestoLopez opened #148 "configure it uses only tags I decide"
I only want that "ngx-wig" insert "<br>" when "enter" is clicked its posible that it doesn't add any other tag ?

Thanks in advice

Ernesto

[2021-05-14 19:20] bampakoa commented on #147
@ErnestoLopez try the following style:

[code]

[2021-05-14 19:22] bampakoa commented on #148
@ErnestoLopez could you please give more details about what you are trying to achieve?

[2021-05-18 08:54] ErnestoLopez commented on #148
I've tried

                ngx-wig {
                    border:1px solid blue; // WORKS
                    width: 100%; // WORKS
                    margin-bottom: 20px; // WORKS
                    .ng-wig {
                        border:1px dashed red!important; // DOESN'T WORKS
                        .nw-toolbar {
                            border:1px solid green!important; // DOESN'T WOR

[2021-05-18 08:55] ErnestoLopez commented on #147
I've tried

            ngx-wig {
                border:1px solid blue; // WORKS
                width: 100%; // WORKS
                margin-bottom: 20px; // WORKS
                .ng-wig {
                    border:1px dashed red!important; // DOESN'T WORKS
                    .nw-toolbar {
                        border:1px solid green!important; // DOESN'T WORKS
                        backg

[2021-05-18 08:59] ErnestoLopez commented on #148
sorry for my english, maybe I have not explained myself well

what I want is for ngx-wig to only enter the tag <br> when the user hits enter
That no other tag can be used for now, later, if possible, I would add them little by little.

Thanks.

[2021-05-19 10:53] bampakoa commented on #147
@ErnestoLopez try to separate the `ngx-wig` styles from the `.ng-wig` selector.

[2021-05-19 19:28] ErnestoLopez commented on #147
Thank you very much for the help.

taking that into account I have taken those styles up and in the end they have worked when I have put them in global.scss, that is, at the highest level.

Greetings,

Ernesto

[2021-05-19 19:28] #147 closed

[2021-05-25 19:46] bampakoa commented on #148
@ErnestoLopez I do not think this is something that you can customize to the editor. However, one possible solution would be to detect the `<div><br></div>` sequence and replace it accordingly.

[2021-08-09 00:47] NZE opened #154 "Where is version 12 of the npm package?"
https://www.npmjs.com/package/ngx-wig?activeTab=readme

Looks like there is no version 12 for ng12?

[2021-08-09 14:22] stevermeister commented on #154
@NZE thx! fixed!

[2021-08-09 14:22] #154 closed

[2021-08-09 16:07] stevermeister commented on #154
hope this will fix the problem for all next releases - https://github.com/stevermeister/ngx-wig/pull/155

[2021-08-11 03:21] NZE commented on #154
Thanks Steve

[2021-12-02 14:13] paul-henriz opened #156 "Angular 13 support"
Hi,

Do you have an ETA for a new release supporting Angular 13?

Best thanks

[2021-12-07 14:37] stevermeister commented on #156
@paul-henriz thank you for your question.
not yet. I'm working on it right now

[2021-12-07 15:08] stevermeister commented on #156
PR is there - https://github.com/stevermeister/ngx-wig/pull/157

[2021-12-07 16:54] paul-henriz commented on #156
Thank you very much for your reactivity!

[2021-12-07 16:54] #156 closed

[2022-01-26 15:04] MPapini91 opened #158 "Custom dropdown"
Hi,
is there a way to implement dropdown buttons in the toolbar?
I am using ngx-wig in an Angular 13 project with some custom functionality. In most cases I have solved with custom buttons, but they are not suitable for some formatting (e.g. font size, font style, etc) for which the appropriate execCommands are available though.
Thanks for your work!

[2022-02-13 18:28] Akxe opened #162 "Remove legacy code"
https://github.com/stevermeister/ngx-wig/blob/5f271e70fd1e06d411f14ce7b3c80ef0fbeaa79f/projects/ngx-wig/src/lib/ngx-wig.component.ts#L121:L123

This could be removed since IE is no longer supported from Angular itself

[2022-03-20 13:47] stevermeister commented on #162
@Akxe thanks for the hint!

https://github.com/stevermeister/ngx-wig/pull/165/files

[2022-03-20 14:29] #162 closed

[2022-05-16 15:51] kucherovst opened #168 "<br> tag left after textarea clear"
There's an issue when I'm pasting formatted text in the textarea and then delete it the `<br>` tag left as a value of this field. I see that ngx-wig work with content as a string, so the first thing that comes to mind is regexp that will cut empty tags somehow, but maybe there's a better/more universal solution.

https://user-images.githubusercontent.com/104344190/168632442-a3bb50ef-15f5-4269-8fde

[2022-05-17 13:47] stevermeister commented on #168
yes, indeed.
thank you for reporting!
do you want to make a PR for it?

[2022-05-18 11:47] stevermeister commented on #168
closed by https://github.com/stevermeister/ngx-wig/pull/169

[2022-05-18 11:47] #168 closed

[2022-05-25 08:00] MPapini91 commented on #158
Hi @stevermeister ,
I forked your repository to try to implement custom dropdown buttons on my own (https://github.com/MPapini91/ngx-wig/tree/MP-dev). At the moment I have found a way to use a select (not elegant but working with a few modifications), but I am having problems with an actual dropdown. It seems to lose focus, if I use insertHTML or insertText the string is added to the beginning of

[2022-05-26 08:54] hodzanassredin opened #171 "Improve documentation about custom buttons."
Now it is not clear from documentation how to add custom buttons to implement some behavior with state manipulations.
For example: how can we implement undo, redo buttons?

Now I'm using this code(not an expert in angular)

[code]

[2022-05-26 13:55] MPapini91 commented on #171
Not just something to undo-redo editing?
`undo: {
    label: 'Undo',
    title: 'Undo',
    command: 'undo',
    styleClass: 'nw-button',
  },
  redo: {
    label: 'Redo',
    title: 'Redo',
    command: 'redo',
    styleClass: 'nw-button'
  }`

[2022-05-27 07:56] stevermeister commented on #171
@hodzanassredin thank you for your question, do you want to add it to the documentation?

I mean solution from @MPapini91

[2022-06-02 12:59] hodzanassredin commented on #171
I don't understand how does it work. I can't find where these commands are described in the source code of ngx-wig. Could you please clarify?

[2022-06-02 13:15] MPapini91 commented on #171
Ok, to add custom buttons you can follow [this](https://stackblitz.com/edit/ngx-wig-sample-plugins?file=src%2Fapp.ts) example from documentation (I quite didn't understand your approach sorry) and add to the variable `MY_PLUGIN` your custom buttons, like:

[code]

If you want a reference to the source code, I think you can look to the example app in [src/app/app.module.ts](https://github.com/steve

[2022-06-02 13:20] MPapini91 commented on #171
Ah, for the `command` you can pass a function or a command from [this list](https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand)

[2022-06-23 07:57] bampakoa opened #172 "Application error when custom button does not set `styleClass`"
When a custom button does not have the `styleClass` property set, the application throws the following error:

`core.mjs:6469 ERROR Error: NgClass can only toggle CSS classes expressed as strings, got undefined`

The `styleClass` is an optional property of the `TButton` interface so we can assume that the consumer of the library may or may not use the `styleClass` in their custom buttons. To repro

[2022-07-11 20:22] mroskamp opened #173 "Angular 14 support"
Is support for Angular 14 on the roadmap for this project?

[2022-07-12 09:18] stevermeister commented on #173
yes, it's on it's way - https://github.com/stevermeister/ngx-wig/pull/174

[2022-07-14 14:45] stevermeister commented on #173
@mroskamp ngx-wig@14.0.5 published!

[2022-07-14 16:45] mroskamp commented on #173
Thank you!

[2022-08-07 23:19] bampakoa commented on #118
I am currently closing this because I do not have enough time to work on it.

[2022-08-07 23:19] #118 closed

[2022-09-02 20:08] bampakoa opened #176 "Migrate to ESLint"
@stevermeister what do you think about migrating the project to ESLint using the **angular-eslint**?

[2022-09-08 15:14] stevermeister commented on #176
@bampakoa yes, sure! good idea!

the whole migration should be just a few commands:
[code]
and hope that everything works as expected? :)

[2022-09-08 16:19] bampakoa commented on #176
Yes, that's correct. Do you want to try it by yourself? 🙂

[2022-09-09 12:19] stevermeister commented on #176
after 1 and 2
for `ng lint`
I'm getting a strange error:
[code]

[2022-09-09 12:21] stevermeister commented on #176
just forgot to specify the project:
[code]

[2022-09-09 12:23] stevermeister commented on #176
✖ 45 problems (45 errors, 0 warnings)

and one more command:
[code]

✖ 17 problems (17 errors, 0 warnings)

almost there... :)

[2022-09-09 12:45] stevermeister commented on #176
[code]

only I have this warning now:
[code]

[2022-09-09 12:47] stevermeister commented on #176
https://github.com/stevermeister/ngx-wig/pull/178/files

[2022-09-13 11:59] #176 closed

[2022-09-13 12:01] stevermeister commented on #101
I'm still thinking that it will make the library more complex, especially in the case of plugin buttons - in this case, each author will have mandatory to check active state, otherwise it will be not consistent with base buttons

[2022-09-13 12:01] #101 closed

[2022-09-13 12:01] #131 closed

[2022-09-13 12:01] stevermeister commented on #133
now it works :)

[2022-09-13 12:01] #133 closed

[2022-09-13 12:02] stevermeister commented on #133
not by merging to master, by creating a new git tag

[2022-09-13 12:02] #134 closed

[2022-09-13 12:03] #142 closed

[2022-09-13 12:03] #148 closed

[2022-11-30 00:26] NZE opened #185 "npm package public version is still 13.2.6"
Hey, could you please update the public version to latest 14.0.7?

![image](https://user-images.githubusercontent.com/8453597/204677873-b7561356-4545-42fa-8583-5ef3a6a0f8a8.png)